<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>NLP</title>
    </head>

    <body>

        <header>
            <div class="logo">
               <h1> Welcome to Udacity's Natural Language Processing </h1>
            </div>
        </header>

        <main>
            <section id="formSect">
                <form class="" onsubmit="return handleSubmit(event)">
                    <input id="url" type="text" name="input" value="" placeholder="Enter the URL">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="scoreTag"></div>
                <div id="agreement"></div>
                <div id="subjectivity"></div>
                <div id="confidence"></div>
                <div id="irony"></div>
            </section>
        </main>

        <footer>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil, consequuntur atque? Adipisci id iste ut blanditiis maiores, nobis magni aut quae corrupti quibusdam ipsum ipsam cumque neque eius aliquid exercitationem!
        </footer>

    </body>
</html>
